@model ShipperWebsite.ViewModel.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login </title>

    <link rel="stylesheet" href="~/Content/css/reset.min.css">

    <link rel="stylesheet" href="~/Content/css/loginstyle.css">

</head>
<body>
    <div class="wrap">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="avatar">
                <img width="80px" src="~/Content/img/avatar.jpg">
            </div>
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m=>m.UserName)
            <div class="bar">
                <i></i>
            </div>
            @Html.PasswordFor(m => m.Password_)
            @Html.ValidationMessageFor(m => m.Password_)
            <button>Đăng nhập</button>
        }
        @Html.ValidationMessage("error")
    </div>
</body>
</html>
