@model List<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-success btn-fill m-b-10">Thêm</a>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Danh sách nhân viên</h4>
                        <p class="category">Hiển thị danh sách nhân viên của hệ thống</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Hình ảnh</th>
                                    <th>Họ tên</th>
                                    <th>Email</th>
                                    <th>Điện thoại</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = 0;}
                                @foreach(var user in Model){
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            @{
                                                var path = "/Content/img/default-avatar.png";
                                                if (!String.IsNullOrEmpty(user.ProfilePicture)) {
                                                    path = user.ProfilePicture;
                                                }  
                                            }
                                            <img src="@path" width="100px" />
                                        </td>
                                        <td>@user.FullName</td>
                                        <td>@user.Email</td>
                                        <td>@user.Phone</td>
                                        <td><a href="#" class="btn btn-default btn-fill">Sửa</a><a href="#" class="btn btn-danger btn-fill m-l-5">Xóa</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>