<div class="sidebar" data-color="blue" data-image="~/Content/img/sidebar-5.jpg">
    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="@Url.Action("Index","Home")" class="simple-text">
                ShipperManager
            </a>
        </div>
        <ul class="nav">
            <li class="@Html.IsActive("Index","Home")">
                <a href="@Url.Action("Index","Home")">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="@Html.IsActive("Index","Staff")">
                <a href="@Url.Action("Index","Staff")">
                    <i class="pe-7s-user"></i>
                    <p>Nhân viên</p>
                </a>
            </li>
        </ul>
    </div>
</div>
